/* 화면 welcome kokoa 하는 부분 */
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* welcom kokoa하는 큰 글씨 */
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

/* welcome kokoa하는 작은 글씨 */
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
/* 로그인 폼 */
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

/* submit 말고 딴 것들에 속성 적용 */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out; /*노란색으로 변하는거 0.3만큼 천천히*/
  font-size: 15px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* 마우스 클릭하면 노란색으로 변경 */
#login-form input:focus {
  border-color: var(--yellow);
}

/* submit만 적용 */
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px; /*둥글게*/
}

#login-form a {
  text-align: center;
  text-decoration: none; /*밑줄 없게*/
  color: inherit;
  font-size: 13px;
}
